<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="ExchangeYear" value="2016" />
		<add key="ExchangeRatesByYearUrl" value="aHR0cHM6Ly93d3cuY25iLmN6L2VuL2ZpbmFuY2lhbF9tYXJrZXRzL2ZvcmVpZ25fZXhjaGFuZ2VfbWFya2V0L2V4Y2hhbmdlX3JhdGVfZml4aW5nL3llYXIudHh0P3llYXI9" />
	</appSettings>
	<connectionStrings>
		<add name="ExchangeRateConnection" connectionString="Data Source=.;Initial Catalog=ExchangeRates;Integrated Security=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>