body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

.dl-horizontal dt {
	white-space: normal;
}

.exchange-rate-container {
	padding: 3em 0;
	width: 500px;
}

.exchange-rate-table-container {
	padding-top: 1em;
}
